@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: 微軟正黑體;
}

body {
  background-color: #333;
}

.box {
  margin: 150px auto 0px auto;
  padding: 30px;
  padding-top: 60px;
  background-color: #ddd;
  width: 600px;
  border-radius: 20px;
  position: relative;
}

.title {
  text-align: center;
  font-size: 50px;
  background-color: rgba(255, 198, 43, 0.8);
  color: #333;
  display: inline-block;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: -40px;
  -webkit-transform: translateX(-50%) rotate(5deg);
          transform: translateX(-50%) rotate(5deg);
}

input {
  padding: 10px;
  width: 450px;
  font-size: 20px;
}

button {
  padding: 10px 30px;
  margin-left: 20px;
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
}
button:hover {
  background-color: #444;
  cursor: pointer;
}

ul {
  margin-top: 30px;
  list-style: none;
  font-size: 20px;
  line-height: 1.5;
}
ul li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #edcd78;
  border-radius: 5px;
}
ul a {
  position: absolute;
  right: 50px;
  padding: 0px 5px;
  background-color: #fff;
  border-radius: 5px;
}
ul a:hover {
  color: #fff;
  background-color: #333;
  cursor: pointer;
}
ul .done {
  background-color: #ccc;
  text-decoration: line-through;
  color: #aaa;
}
